[submodule "quickstart/themes/PaperMod"]
	path = quickstart/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "image-processing-widget/themes/PaperMod"]
	path = image-processing-widget/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "hugo/themes/PaperMod"]
	path = hugo/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
